.container {
  margin: 30px auto;
  width: 70%;

  #foto {
    width: 30% !important;
    margin: 0 auto;
    border-radius: 100%;
  }
}

.titulo {
  margin: 0 auto;
  padding: 10px;
  background-color: none !important;

}
