<div class="home-container">
    <div>
      <div>
        <button type="submit" routerLink="/ahorcado">Ahorcado</button>
    </div>
  </div>

    <div>
      <div>
        <button type="submit" routerLink="/mayoromenor">Mayor o Menor</button>
    </div>
  </div>

    <div>
      <div>
        <button type="submit" routerLink="/preguntados">Preguntados</button>
    </div>
  </div>

    <div>
      <div>
        <button type="submit" routerLink="/mijuego">juego</button>
    </div>
  </div>
  <div>
    <div>
      <button type="submit" routerLink="/quiensoy">Quien soy</button>
  </div>
  </div>
</div>
