<div
  class="home-container d-flex flex-column justify-content-center align-items-center"
>
  <h1>Home</h1>
  <div class="button-container">
    <button type="submit" routerLink="/ahorcado">Ahorcado</button>

    <button type="submit" routerLink="/mayoromenor">Mayor o Menor</button>
  </div>
  <div class="button-container">
    <button type="submit" routerLink="/preguntados">Preguntados</button>

    <button type="submit" routerLink="/mijuego">juego</button>
  </div>
  <div class="button-container">
    <button type="submit" routerLink="/quiensoy">Quien soy</button>
  </div>
</div>
