<div class="container-juego">
  <div
    class="container rounded bg-light mt-3 py-3 d-flex justify-content-around align-items-center"
  >
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <div>
          <h2 class="">¿Mayor o menor?</h2>
          <p class="fs-5 text-muted">
            Adivina si la próxima carta será mayor o menor
          </p>
        </div>
        <h4 class="">Puntos {{ puntos }}</h4>

        <!-- <span @fade>{{ mensaje }}</span> -->
        <div class="container-mensaje">
          <p *ngIf="perdio; else then_content" class="perdiste mensaje">
            {{ mensaje }}
          </p>

          <ng-template #then_content>
            <p class="gano mensaje">
              {{ mensaje }}
            </p>
          </ng-template>
        </div>
      </div>
    </header>
    <main>
      <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 fondo">
              <h4 class="my-0 fw-normal">Anterior</h4>
            </div>
            <div class="card-body fondo">
              <img
                class="imagen-anterior"
                src="{{ mostrarCartaVieja() }}"
                alt="cardImg"
                width="max"
                height="250"
              />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 fondo">
              <h4 class="my-0 fw-normal">Actual</h4>
            </div>
            <div class="card-body fondo">
              <img
                src="{{ imagenCartaNueva }}"
                alt="cardImg"
                width="max"
                height="250"
              />
            </div>
          </div>
        </div>
        <div class="btn-group w-100" role="group" aria-label="Basic example">
          <button
            type="button"
            class="w-100 btn btn-lg boton"
            (click)="elegirOpcion('menor')"
          >
            Menor
            <i class="bi bi-arrow-down-circle"></i>
          </button>
          <button
            type="button"
            class="w-100 btn btn-lg boton"
            (click)="elegirOpcion('mayor')"
          >
            Mayor
            <i class="bi bi-arrow-up-circle"></i>
          </button>
        </div>
      </div>
    </main>
  </div>
</div>
